[submodule "tools/cocos2d-console"]
        path = tools/cocos2d-console
        url = git://github.com/cocos2d/cocos2d-console.git
[submodule "plugin"]
        path = plugin
        url = https://github.com/cocos2d-x/plugin-x.git
[submodule "tools/bindings-generator"]
        path = tools/bindings-generator
        url = git://github.com/cocos2d/bindings-generator.git
[submodule "tests/cpp-tests/Resources/ccs-res"]
        path = tests/cpp-tests/Resources/ccs-res
        url = git://github.com/dumganhar/ccs-res.git
[submodule "extensions\\soomla-cocos2dx-core"]
	path = extensions\\soomla-cocos2dx-core
	url = git@github.com:soomla/soomla-cocos2dx-core.git
[submodule "extensions/soomla-cocos2dx-core"]
	path = extensions/soomla-cocos2dx-core
	url = git@github.com:soomla/soomla-cocos2dx-core.git
[submodule "extensions/cocos2dx-profile"]
	path = extensions/cocos2dx-profile
	url = git@github.com:vedi/cocos2dx-profile.git
[submodule "external/jansson"]
	path = external/jansson
	url = git@github.com:vedi/jansson.git
